form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .form-group {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 0 5px;
  }
}
